ion-toolbar{
    --color: black;
    --background:#63fd8b;
}


ion-content{
    --background: linear-gradient(to bottom, #63fd8b, #55ee77, #47df62, #37d04d, #26c137, #1aad31, #0d9a2a, #008724, #056a27, #0f4e25, #14331f, #141a16);
    .card-dinero{
        text-align:  center;
        color: white;
        background: #292929;       
    }
    .lblIngresos{
        width: 100%;
        text-align: center;
        font-size: 4vw;
    }
    // Los slider estan ocultoss
    // .sli{
    //     text-align:  center;
    //     padding-bottom:20px; 
    //     color: white;
    //     background: #292929;
    // }
    .card-dinero h3{
        color: #ffce00;
    }
    
    
    
    ion-label{
        width: 100%;
    }
    #titleDinero{
        font-size: 10vw;
        text-align: center;
        text-shadow: 1px 1px #032b13;
        color: rgb(0, 97, 24);
    }
    
}

