ion-content{
    .slide{
        width: 100%;
        height: 80%;
    }
    .slide-card{
        background: darkgrey;
        width:100%;
        height: 100%;
    }
    .sli{
        height: 50%;
        width: 100%;
    }
}