<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Tus ingresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="success">
  <ion-label>Dinero disponible:</ion-label>
  <ion-title id="titleDinero">{{suma| currency:'USD':true: '2.0-0'}}</ion-title>
  <ion-card id="form-regis-ingreso">
    <ion-label>Nombre para el ingreso:</ion-label>
    <ion-input type="text" placeholder="Nombre para el ingreso" [(ngModel)]="nombre"></ion-input>
    <ion-label>Cantidad:</ion-label>
    <ion-input type="number" placeholder="Dinero que ingresa" [(ngModel)]="valIngreso"></ion-input>
    <ion-button id="btnRegistrar" (click)="regisIngresos()">Agregar ingreso 
      <ion-icon slot="start"
        name="checkmark-circle-outline">
      </ion-icon>
    </ion-button>
  </ion-card>

  <ion-label>Lista de ingresos:</ion-label>

  <!-- Opción 1 -->
  <ion-row>
    <ion-col>
      <ion-card class="card" *ngFor="let lista of listaIngresosL">
        <h3>{{lista.nombre}}</h3>
        <h1>{{lista.valor | currency:'USD':true: '2.0-0'}}</h1>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Opción 2 -->
  <!-- <ion-slides pager="true" [options]="slideOpts" class="sli">
    <ion-slide class="card" *ngFor="let lista of listaIngresosL">
      <h3>{{lista.nombre}}</h3>
      <h1>{{lista.valor | currency:'USD':true: '2.0-0'}}</h1>
    </ion-slide>
  </ion-slides> -->



  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="presentActionSheet()">
    <ion-fab-button color="dark">
      <ion-icon name="apps" color="warning"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>