<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Tus ingresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="success">
  <ion-label>Tus ingresos son de:</ion-label>
  <ion-title id="titleDinero">{{FB.totalIngreso| currency:'USD':true: '2.0-0'}}</ion-title>

  <ion-label>Lista de ingresos:</ion-label>
  <!-- Opción 1 -->
  <ion-row>
    <ion-col>
      <ion-card class="card-dinero" *ngFor="let lista of FB.listI">
        <h3>{{lista.nombre}}</h3>
        <h1>{{lista.valor | currency:'USD':true: '2.0-0'}}</h1>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Opción 2 -->
  <!-- <ion-slides pager="true" [options]="slideOpts" class="sli">
    <ion-slide class="card" *ngFor="let lista of listaIngresosL">
      <h3>{{lista.nombre}}</h3>
      <h1>{{lista.valor | currency:'USD':true: '2.0-0'}}</h1>
    </ion-slide>
  </ion-slides> -->

  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="presentActionSheet()">
    <ion-fab-button color="dark">
      <ion-icon name="apps" color="warning"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>