<ion-header color="warning">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Estos son tus gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="div-gastos">
    <ion-label class="lblGastado">Falta por pagar</ion-label>
    <ion-title id="titleDinero">{{FB.totalGasto| currency:'USD':true: '2.0-0'}}</ion-title>
  </div>
  <div class="div-pagado">
    <ion-label class="lblpagado">Dinero pagado:</ion-label>
    <ion-title id="titleDineroPagado">{{FB.totalGastoP| currency:'USD':true: '2.0-0'}}</ion-title>
  </div>
  <div class="div-pagar">
    <ion-label class="lblpagar">Gastos totales:</ion-label>
    <ion-title id="titleDineroPendienteP">{{FB.totalGasto + FB.totalGastoP | currency:'USD':true: '2.0-0'}}</ion-title>
  </div>

  <ion-label>Estos son tus gastos:</ion-label>
  <!-- Opción 1 - Muestra en tarjetas todos los gastos del usuario -->
  <!-- botón para mostrar las opciones de la pagina gastos -->
  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="presentActionSheet()">
    <ion-fab-button color="dark">
      <ion-icon name="add" color="warning"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-slides>
    <ion-slide class="slide1">
      <ion-row>
        <h2 id="titleCard">Gastos por gestionar
          <ion-badge slot="end" color="medium">{{FB.numeroGastos}}</ion-badge>
        </h2>
        <ion-col class="colCard">
          <ion-card class="card" *ngFor="let lista of FB.listG" (click)="pruebaEliminar(lista.nombre)">
            <h3>{{lista.nombre}}</h3>
            <h1>{{lista.valor | currency:'USD':true: '2.0-0'}}</h1>
            <h2>{{lista.tipo}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="slide2">
      <ion-row class="rowCard">
        <h2 id="titleCard">Gastos pagados
          <ion-badge slot="end" color="medium">{{FB.numeroGastosPagos}}</ion-badge>
        </h2>
        <ion-col class="colCard">
          <ion-card class="card" *ngFor="let lista of FB.listGPagados" (click)="pruebaEliminar(lista.nombre)">
              <h3>{{lista.nombre}}</h3>
              <h1>{{lista.valor | currency:'USD':true: '2.0-0'}}</h1>
              <h2>{{lista.tipo}}</h2>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="slide3">
      <ion-row class="rowCard">
        <h2 id="titleCard">Gastos Eliminados
          <ion-badge slot="end" color="medium">{{FB.numeroGastosEliminados}}</ion-badge>
        </h2>
        <ion-col class="colCard">
          <ion-card class="card" *ngFor="let lista of FB.listGEliminados" (click)="pruebaEliminar(lista.nombre)">
            <h3>{{lista.nombre}}</h3>
            <h1>{{lista.valor | currency:'USD':true: '2.0-0'}}</h1>
            <h2>{{lista.tipo}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
  <!-- boton para eliminar un gasto -->
  <ion-fab *ngIf="mostrar" Vertical="bottom" horizontal="end" slot="fixed" (click)="eventoEliminar()">
    <ion-fab-button color="danger">
      <ion-icon name="trash" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- boton para pagar el gasto -->
  <ion-fab *ngIf="mostrar" vertical="bottom" horizontal="start" slot="fixed" (click)="pagarGasto()">
    <ion-label>Pagado</ion-label>
    <ion-fab-button color="dark">
      <ion-icon name="checkmark" color="success"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>