ion-content {
    ion-title {
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
        width: 100%;
    }

    #form-regis-ingreso {
        margin-top: 100px;
        padding: 10px;
        color: white;
        background: linear-gradient(to bottom, #4af00f, #37c20b, #269506, #176b03, #094400);
    }

    ion-label {
        width: 100%;
    }

    #btnRegistrar {
        margin: 10px 10px 0 0;
        --background: rgb(0, 66, 17);
        color: rgb(255, 255, 255);
        width: 100%;
    }

    #input-ingreso {
        color: #032b13;
        --background: #55fa97;
        border-radius: 5px;
    }
}