<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Tu dinero</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  >
  <ion-card-content class="card-divider1">
    <ion-button (click)="irIngresos()" color="success">INGRESOS</ion-button>
    <div class="div-divider" id="div-divider-ingresos">
      <label class="saldoIngresos">{{ sumaI | currency:'USD':true: '2.0-0' }}</label>
    </div>
  </ion-card-content>
  <ion-card-content class="card-divider2">
    <ion-button (click)="irGastos()" color="warning">GASTOS</ion-button>
    <div class="div-divider" id="div-divider-gastos">
      <label class="saldoEgresos">{{ sumaE | currency:'USD':true: '2.0-0' }}</label>
    </div>
  </ion-card-content>

  <ion-card-content class="card-divider3">
    <ion-button (click)="irIngresosExtra()" color="primary">INGRESOS EXTRA</ion-button>
    <div class="div-divider" id="div-divider-ingresosExtra">
      <label class="saldoIngresosExtra">{{ 260000 | currency:'USD':true: '2.0-0' }}</label>
    </div>
  </ion-card-content>

  <ion-card-content class="card-divider4">
    <ion-button (click)="irGastosExtra()" color="danger">GASTOS EXTRA</ion-button>
    <div class="div-divider" id="div-divider-gastosExtra">
      <label class="saldoEgresosExtra">{{ 80000 | currency:'USD':true: '2.0-0' }}</label>
    </div>
  </ion-card-content>
</ion-content>
<ion-footer>
  <ion-toolbar>
   <ion-button (click)="cerrarSesion()">
     Cerrar Sesion
   </ion-button>
  </ion-toolbar>
</ion-footer>