ion-content {
    #form-regis-gasto {
        margin-top: 100px;
        padding: 10px;
        color: white;
        background: #a5a311;
    }

    #btnRegistrar {
        margin: 0px;
        --background: rgba(232, 248, 91, 0.651);
        color: rgb(0, 0, 0);
        width: 100%;
    }

    ion-segment-button {
        margin: 10px;
        border-radius: 10px;
    }

    ion-segment {
        margin-bottom: 10px;
    }

    #input-gasto {
        color: #d9db3d;
        --background: #4238009c;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    #l3 p{
        color: #505800;
        font-size: 10px;
        font-family: 'Courier New', Courier, monospace;
    }

}