ion-content {
    ion-title{
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: 'Lucida Grande',  Geneva, Verdana, sans-serif;
        width: 100%;        
    }
    #form-regis-gasto {
        margin-top: 100px;
        padding: 10px;
        color: black;
        background: linear-gradient(to top, #f0840f, #f39e01, #f4b801, #f1d218, #ebeb32);
    }

    #btnRegistrar {
        margin: 0px;
        --background: rgba(232, 248, 91, 0.651);
        color: rgb(0, 0, 0);
        width: 100%;
    }

    .segment-button {
        margin: 2%;
        width: 48%;
        border-radius: 10px;
        border: double #4238009c 4px;
    }

    .segment-content {
        width: 100%;
        margin-bottom: 10px;
    }

    #input-gasto {
        color: #d9db3d;
        --background: #4238009c;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    #l3 p {
        color: #505800;
        font-size: 10px;
        font-family: 'Courier New', Courier, monospace;
    }

}